.pull-right {
    float: right;
}

.padding {
    padding-left: 24px;
}

.roboto-bold-18 {
    font-size: 18px;
    font-family: 'Roboto Bold'
}

.results {
    font-size: 18px;
    font-family: 'Roboto Regular'
}