.btn-link, .btn-link:hover {
    color: #EA7F28;
    padding-left: 6px;
}

.img-holder {
    padding: 8px;
    margin: 8px;
}

.font {
    font-family: "Roboto Bold";
    font-size: 18px
}

.font-14 {
    font-family: "Roboto Regular";
    font-size: 18px
}
